body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(135deg, #ff4d6d, #ffb3c6);
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: white;
  padding: 50px;
  border-radius: 30px;
  text-align: center;
  width: 420px;
  box-shadow: 0 20px 50px rgba(0,0,0,0.3);
  position: relative; /* IMPORTANT for NO button */
}


h1, h2 {
  color: #d1005d;
}
h1 {
  font-size: 36px;
}

h2 {
  font-size: 26px;
}

p {
  font-size: 20px;
  line-height: 1.6;
}

button {
  padding: 14px 30px;
  margin: 12px;
  border: none;
  border-radius: 30px;
  font-size: 18px;
  cursor: pointer;
}
.buttons {
  position: relative;
  height: 120px;
  margin-top: 20px;
}
#shyMsg {
  font-size: 16px;
  color: #ff4d6d;
  margin-top: 15px;
}


#nextBtn {
  background: #ff4d6d;
  color: white;
}

#musicBtn {
  background: #ff85a1;
  color: white;
}

.yes {
  background: #28a745;
  color: white;
}

.no {
  background: #dc3545;
  color: white;
  position: absolute;
}

.hidden {
  display: none;
}
