body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(135deg, #ff758c, #ff7eb3);
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: white;
  padding: 35px;
  border-radius: 25px;
  text-align: center;
  width: 320px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.25);
}

h1, h2 {
  color: #d1005d;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
}

#nextBtn {
  background: #ff4d6d;
  color: white;
}

.yes {
  background: #28a745;
  color: white;
}

.no {
  background: #dc3545;
  color: white;
  position: absolute;
}

.hidden {
  display: none;
}
